
 .form {
    border-radius: 5px;
    background-color:greenyellow;
    padding: 20px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
       "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;}
    .fieldset {
       margin: 0;
       padding: 0.35em 0 0.75em;
       border: 0;
    }
       .field {
          margin-bottom: 0.5em;
          box-sizing: border-box;
       }
          label {
             text-align: right;
             display: inline-block;
             vertical-align: middle;
             margin: 0 1em 0 0;
             width: 250px;
             text-align: center;
          }
          input {
             padding: 0.5em 0.6em;
             display: inline-block;
             border: 1px solid black;
             box-shadow: inset 0 1px 3px #ddd;
             border-radius: 4px;
             vertical-align: middle;
             box-sizing: border-box;
             width: 400px;
          }
       
    
    button {
       background-color:blue;
       color: #fff;
       font-size: 100%;
       padding: 0.5em 1em;
       border: 1px solid #999;
       border: transparent;
       text-decoration: none;
       border-radius: 2px;
    }
 
 